<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Коментарі</h2>
<%= render @article.comments %>

<h2>Додати коментарій:</h2>
<%= render 'comments/form' %>

<%= link_to 'Повернутись', articles_path %> |
<%= link_to 'Редагувати статтю', edit_article_path(@article) %>


